.notFound {
  border: solid 3px black;
  /* width: fit-content; */
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 40vw;
  height: 40vw;
  margin-left: 30vw;
  box-sizing: border-box;
  align-content: center;
  justify-content: space-between;
  align-items: stretch;

  transition: all 0.7s;
}

.notFound > * {
  margin: 0;
}

.notFound > p {
  text-align: center;
  font-size: 2rem;
}

.notFound > h1 {
  font-size: 3rem;
}

.notFound > button {
  margin-left: 33%;
  font-size: 2rem;
}

@media (orientation: portrait) {
  .notFound {
    width: 60vw;
    height: 60vw;
    margin-left: 20vw;
    padding: 20px;
  }
  .notFound > button {
    margin: -19px;
  }
  html {
    font-size: 8px;
  }
}
