:root{
	--border: 2px;
}

html{
	background-color: white;
	font-family: regular, sans-serif;
	box-sizing: border-box;
	font-size: 14px;

	scroll-behavior: smooth;
}

body{
	margin: 0;
}

main{
	margin-top: 40px;
	padding: 0 48px;
	padding-bottom: 40px;
}

.eventCover{
	margin-top: 100px;

	width: 100vw;
	height: 30vh;
	object-fit: cover;
}

h4{
	font-size: 1.5rem;
}

.tags{
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.tags p {
	border: solid black 2px;
	padding: 5px 10px;
	margin-top: 0;
}

/*legyen egy/két brékpontod galeri grid 2-3-4col*/

.galeri{
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	display: grid;
	box-sizing: border-box;
	justify-items: center;
	width: fit-content;
	padding: 0px;
	grid-gap: 40px;
	grid-template-columns: 1fr 1fr 1fr;
}

.galeri img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (orientation: portrait){
	.galeri{
/*		background-color: green;*/
		grid-template-columns: 1fr 1fr 1fr;
	}

	h4{
/*		color:red;*/
	}
}