.eventcont{
  display: grid;
  grid-template-columns: 1fr !important;
  grid-gap: 48px !important;
  padding: 20px 40px;
}

.exibcard{
  width: 100% !important;
  padding-bottom: 0 !important;
}

.exibcard h4{
  font-size: 2.5em;
}

.exibcard p{
  font-size: 2em;
  margin: 0;
  margin-left: 24px;
}

.exibcardDescription{
  display: none;
}

.exibcard button{
  font-size: 2em;
}
