:root {
  --borderLine: solid black 2px;
}

main {
  margin-top: 40px;
  padding: 0 48px;
  padding-bottom: 40px;
}

.eventCover {
  margin-top: 100px;
  margin-top: 38px;

  width: 100vw;
  /*	height: 30vh;*/
  aspect-ratio: 1.9;
  object-fit: cover;
}

h1 {
  margin: 0;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.tags p {
  border: var(--borderLine);
  padding: 5px 10px;
  margin-top: 0;
  font-size: 1rem;
}

/*legyen egy/két brékpontod galeri grid 2-3-4col*/

.galeri {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: grid;
  box-sizing: border-box;
  justify-items: center;
  width: fit-content;
  padding: 0px;
  grid-gap: 48px;
  grid-template-columns: 1fr 1fr 1fr;
}

.galeri img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

/*on eventpages only display a 42px tall menubar*/
nav {
  left: 0;
  width: 100%;
  height: fit-content;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "about exibs artists events contact";
  background: black;
}

nav .logo,
nav .szocblok,
.logoWrapper {
  display: none;
}

@media (orientation: portrait) {
  @keyframes shake {
    0% {
      rotate: 0deg;
      opacity: 0.35;
    }
    1%,
    3% {
      rotate: 7deg;
      opacity: 1;
    }
    2%,
    4% {
      rotate: -7deg;
      opacity: 1;
    }
    5%,
    100% {
      rotate: 0deg;
      opacity: 0.35;
    }
  }
  #sandwichMenu {
    position: fixed;
    top: 48px;
    left: 48px;
    display: block;
    stroke: black;
    transition: all 0.3s;
    opacity: 0.35;
    rotate: 0deg;
    animation: shake 10s infinite;
    width: 90px;
    height: 90px;
  }

  .tags p{
    font-size: 2rem;
  }

  .galeri {
    /*		background-color: green;*/
    grid-template-columns: 1fr 1fr 1fr;
  }

  h1 {
    /*		color:red;*/
  }

  nav {
    height: 100%; /* Set height to auto to allow navbar to expand vertically */
    width: 15vw;
    grid-template-columns: none; /* Remove grid columns */
    grid-template-rows: repeat(5, 1fr); /* Set grid rows */
    grid-template-areas:
      "about"
      "exibs"
      "artists"
      "events"
      "contact"; /* Set grid areas */
    display: none;
  }
  nav > a {
    writing-mode: vertical-lr;
    font-size: 2.6rem;
    line-height: 3.7rem;
    text-align: center;
    padding-left: calc(50% - 1.85rem);
    border: var(--borderLine);
    border-right: solid black 3px;
  }

  nav > a:last-child {
    border-right: solid black 3px;
  }

  .eventCover {
    margin-top: 0;
  }
}
