html {
}

body {
}

main {
}

button {
}

a {
}

h1 {
  /*  color: red;*/
}

h2 {
}

h3 {
}

h4 {
}

p {
}

p.italic {
}

nav {
}

.logo {
}

nav a,
nav div {
}

nav a {
}

#logimg {
}

.logo {
}

.szocblok {
}

.szocblok div {
}

.szocblok div:last-child {
}

.szocblok div:last-child:hover {
}

section.about {
}

section.about > *:not(img) {
}

section.about img {
}

section.about button {
}

section.actual {
}

section.actual > *:not(img) {
}

section.actual img {
}

section.actual button {
}

section.kiallitasok {
}

.exibcards {
  flex-direction: column;
}

.exibcard {
}

.exibcard img {
}

section.artists {
}

.artistcont {
}

.artistcard h4 {
}

.artistcard img {
}

section.programok {
}

.progbox {
}

.progbox img {
}

.progbox > *:not(img) {
}

.progbox button {
}

.progbox p.italic {
}

.programok h1 {
}

.programok h1:nth-child(2) {
}

section.kapcsolat {
}

.kapbubik {
}

.kapbubi {
}

.bubcont {
}

.bubcont p {
}

.bubcont p:last-child {
}

.kapbubi img {
}

#terkep {
}

.eventcard {
}

.eventcard img {
}
