version: '3'

services:
  client:
    build: ./client
    hostname: clientServer
    ports:
      - "3000:3000"
    volumes:
      - "./volumes/site:/app/public"
    depends_on:
      - database

  admin:
    build: ./admin
    hostname: adminServer
    ports:
      - "3001:3000"
    volumes:
      - "./volumes/site:/app/public"
    depends_on:
      - database

  database:
    build: ./database
    hostname: dbServer
    volumes:
      - "./volumes/db:/data/db"
      - "./database/mongod.conf:/etc/mongod.conf"

