doctype html
html(lang="hu")
	head
		title 3hétGaléria
		link(href='main.css', rel='stylesheet')
		meta(charset='utf-8')
	body
		include nav.pug
		main
			p.
				Mi tök jó emberek vagyunk, gyere be, beszélgessünk aztán
				majd meglátod.
		script.
			console.log('alma')
			var konti = document.getElementsByTagName('main')[0]
			konti.innerHTML += '<h1>Ez egy title</h1>'
			konti.innerHTML += '<h2>Ez meg egy kissebb</h2>'
	include footer.pug
