doctype html
html(lang="hu")
	head
		title 3/7Galery
		link(href='main.css', rel='stylesheet')
		meta(charset='utf-8')
	body
		include nav.pug
		main
			p.
				Ezekre az eseményekre várunk és vártunk.
			include eventcard.pug
	include footer.pug