doctype html
html(lang="hu")
	head
		title 3hétGaléria
		link(href='../../css/main.css', rel='stylesheet')
		link(href='../../css/event.css', rel='stylesheet')
		meta(charset='utf-8')
	body
		include navDeep.pug
		main
			img(src="lCover.png")
			h4 Kemény György - 
			h4 Transzluszentzia
			.tags
				p kerámia
				p térplasztika


	include footer.pug