doctype html
html(lang="hu")
	head
		title 3/7Galery
		link(href='/css/main.css', rel='stylesheet')
		meta(charset='utf-8')
	body
		include nav.pug
		main.eventMain
			.eventcont
				.exibcard.eventexibcard
						img(src='/img/img.png')
						h4= title
						p 2022-03-19
						p.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						button bővebben
				each i in [1, 2, 3, 4, 5]
					.exibcard.eventexibcard
						img(src='/img/img.png')
						h4 Urban Transparency
						p 2022-03-19
						p.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						button bővebben
	include footer.pug