doctype html
.exibcard
	img(src='img/egykep.png')
	h4 Kemény György / Csak
	p 2021
	p.
		A „Csak” kiállításcímről. Mind a 16 képem címe ezzel a csak-kal kezdődik, csupa olyan „csak”-kal, amelyekkel egyetértek, amelyek szerint élni lehet és érdemes, és amelyek lelki szállal kötődnek magukhoz a címet adó képekhez.
	button bővebben