doctype html
html(lang="hu")
	head
		title 3hétGaléria
		link(href='css/main.css', rel='stylesheet')
		meta(charset='utf-8')
	body
		include nav.pug
		main
			section.about#galeriarol
				img(src='img/img.png')
				h1 a három hét galériáról
				p.
					A Bartók Béla út 37. szám alatt található Három Hét Galéria Újbuda Kulturális Városközpontjának egyik elsőként megnyílt galériája. A Három Hét nevet egyszerűen a Galéria címe adta. Később a számokat ízlelgetve, azokkal játszva alakult ki az elképzelés, hogy a hármas, valamint a hetes szám több helyen is visszaköszönjön. Ezért úgy döntöttünk, hogy minden hónap 3. napján este 7 órakor megnyitót tartunk, amelyen egy-egy újabb művészre hívjuk fel a nagyközönség figyelmét.
				p A Három Hét Galéria működési terve:
				p.
					A 2010 –ben nyílt galériában sok stílusirányzat megfordult, sokrétű volt a kiállítók listája. 2017-es évtől azonban egy markáns utat szeretnénk konzekvensen képviselni, s ez az irány a:
				h2 GEOMETRIKUS, KONKRÉT- KONSTRUKTÍV MŰVÉSZET.
				a(href="exibs/exeb1_220319/eventPage.html")
					button bővebben
			section.actual
				img(src='img/img.png')
				h1 aktuális kiállítás
				h3 Kemény György / csak
				p.
					Megnyitó (Exhibition Opening) november 3. 19h
					2021. november 4. – november 25.
				p.italic.
					A „Csak” kiállításcímről. Mind a 16 képem címe ezzel a csak-kal kezdődik, csupa olyan „csak”-kal, amelyekkel egyetértek, amelyek szerint élni lehet és érdemes, és amelyek lelki szállal kötődnek magukhoz a címet adó képekhez.
				//- a(href="exibs/exeb1_220319/eventPage.html")
				button(onclick="window.location.href='exibs/exeb1_220319/eventPage.html'") bővebben
			section.kiallitasok
				h1 kiállítások
				.exibcards
					each i in [1, 2, 3]
						.exibcard
							img(src='img/img.png')
							h4 Urban Transparency
							p 2022-03-19
							p.
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							button(onclick="window.location.href='exibs/exeb1_220319/eventPage.html'") bővebben
			section.artists#muveszek
				h1 művészek
				.artistcont
					each val, key in {'Kemény György': 'egykep', 'Robitz György': 'egykep', 'József György': 'egykep', 'Milovitz György': 'egykep', 'Kulka János': 'egykep', 'Mérő Klára': 'egykep','Almási Lujza': 'egykep','Baricz Imre': 'egykep'}
						.artistcard
							img(src='img/img.png')
							//- img(src='img/'+val+'.png')
							h4= key
			section.programok
				h1 programok
				h1 Korábbi programjaink
				img(src='img/longNyil.svg')
				.progbox
					img(src='img/img.png')
					h3 Flow Meditation
					p 2022-04-21
					p.italic.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					button bővebben
			section.kapcsolat#kapcsolat
				h1 kapcsolat
				.kapbubik
					.kapbubi
						a.kapico(href="tel:+36708664222")
							img(src='img/phone.svg')
						.bubcont
							h4 telefon
							p Bódis Andrea
							p 06 70 8664222
					.kapbubi
						a.kapico(href="mailto:andrea.bodis@haromhet.hu")
							img(src='img/mail.svg')
						.bubcont
							h4 email
							p andrea.bodis@haromhet.hu
					.kapbubi
						a.kapico#addric(href="https://goo.gl/maps/ukptfM9ibBzpZ31U9")
							img(src='img/address.svg')
						.bubcont
							h4 cím
							p Budapest 1114
							p Bartók Béla út 37.
		img(src='img/mapfull.png')#mapson
	include footer.pug