doctype html
a(href='index.php')
	img(src='img/logo.png')#logimg
nav
	h1.logo Három hét Galéria
	.szocblok
		.insta
		.behance
		.fb
		.langs EN
	a(href='index.php#galeriarol').about galériáról
	a(href='exibs.php').exibs kiállítások
	a(href='index.php#muveszek').artists művészek
	a(href='events.php').events programok
	a(href='index.php#kapcsolat').contact kapcsolat