doctype html
a(href='index.html')
	img(src='img/logo.png')#logimg
nav
	h1.logo Három hét Galéria
	.szocblok
		.insta
			img(src='img/ig.svg')
		//- .behance
		.fb
			img(src='img/fb.png')
		.langs EN
	//- a(href='index.html').about galériáról
	a(href='index.html#').about galériáról
	a(href='exibs.html').exibs kiállítások
	a(href='index.html#muveszek').artists művészek
	a(href='events.html').events programok
	a(href='index.html#kapcsolat').contact kapcsolat