doctype html
a(href='../../index.html')
	img(src='../../img/logo.png')#logimg
nav
	h1.logo Három hét Galéria
	.szocblok
		a.insta(href='https://www.instagram.com/harom_het_gallery/')
			img(src='../../img/ig.svg')
		//- .behance
		a.fb(href='https://www.facebook.com/haromhet')
			img(src='../../img/fb.png')
		a.langs(href='https://www.instagram.com/harom_het_gallery/') EN
	//- a(href='index.html').about galériáról
	a(href='../../index.html#').about galériáról
	a(href='../../exibs.html').exibs kiállítások
	a(href='../../index.html#muveszek').artists művészek
	a(href='../../events.html').events programok
	a(href='../../index.html#kapcsolat').contact kapcsolat