doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title 404 Not Found
    link(href='/css/main.css', rel='stylesheet')
    link(href='/css/404.css', rel='stylesheet')
  body
    main.notFound
      h1 404 Not Found
      p The page you are looking for doesn't exist or an error occurred.
      button(onclick="window.location.href='/'") Go Back Home